.banner {
    background: url("https://lestroisgarcons.com/wp-content/uploads/2017/09/Bishopswood-Contemporary-Kitchen-and-dining-room.jpg")center;
    height: 60vh;
    position: relative;
}

.banner__info {
    background-color: rgb(128, 128, 128);
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    width: 300px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white!important;
    font-weight: 900!important;
    text-transform: inherit!important;
    color: #ff7779!important;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}
